@import url("/styles/responsive_menu.css");
@import url("/styles/partials_vystavy.css");

body { 
  font-size: 1.05em;
  line-height: 1.25em;
  font-family: Verdana, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11pt;
  background: #f9f9f9;
  color: #555;
}

footer {
  background-color: #0075bf;
  padding: 1em 0.5em 1em 0.5em;
  margin: 0.5em 0 0.5em 0;
  color: white;
  font-weight: bold;
  font-size: 9pt;
}

section {
  margin: 80px auto 40px;
  max-width: 980px;
  position: relative;
  padding: 20px
}

h1 {
  font-size: 2em;
  color: #0075bf;
  line-height: 1.15em;
  margin: 20px 0 ;
}

p {
  line-height: 1.45em;
  margin-bottom: 20px;
}

article.faq li p:first-child {
  margin: 0;
  font-weight: bold;
  padding-top: 0.7em;
}

